node_modules
.nuxt
.output
.idea
.vscode
node_modules_vue-clipboard2_dist_index_css
package-lock.json
package.json
README.md
src
assets
components
layouts
middleware
pages
plugins
static
.babelrc
.editorconfig
.eslintignore
.eslintrc.js
.gitignore
.postcssrc.js
index.html
nuxt.config.js