@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  /* 让 dark、light 主题可以平缓过渡 */
  transition:
    background-color 0.5s,
    color 0.5s;
  background-attachment: fixed;
  background-image: linear-gradient(
    215deg,
    hsl(169deg 79% 91%) 0%,
    hsl(168deg 78% 93%) 7%,
    hsl(168deg 78% 95%) 12%,
    hsl(168deg 78% 96%) 20%,
    hsl(168deg 78% 98%) 36%,
    hsl(0deg 0% 100%) 98%
  );
}

.dark body {
  /* 让 dark、light 主题可以平缓过渡 */
  transition:
    background-color 0.5s,
    color 0.5s;
  background-attachment: inherit;
  background-image: inherit;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  strong,
  code {
    @apply dark:text-gray-300;
  }

  p,
  th,
  td,
  li {
    @apply dark:text-gray-50/70;
  }
}
